@import "compass";
@import "sassy-buttons";
$green: #a9f230;

body {
  background: #111;
}

// .pause {
//   @include animation-play-state(paused);
// }

[id^=circle] {
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-top: 3px solid $green;
  border-bottom: 0px solid transparent;
  border-radius: 50%;

  position: absolute;

  @include animation(rotate linear infinite);
}

[id=circle] {
  height: 50px;
  width: 50px;

  top: 50px;
  left: 50px;

  @include animation-duration(1s);
}

[id=circle-2] {
  height: 75px;
  width: 75px;

  top: 38px;
  left: 38px;

  @include animation-duration(1.1s);
}

[id=circle-3] {
  height: 100px;
  width: 100px;

  top: 25px;
  left: 25px;

  @include animation-duration(1.15s);
}

#button {
  @include sassy-button("shiny", .5em, 1.25em, mix(#000, $green, 25%));
  width: 3em;
  text-align: center;
  position: absolute;
  left: 150px;
  top: 50px;

  &:hover {
    cursor: pointer;
  }
}

@include keyframes(rotate) {
  from {
    @include rotate(360deg);
  }
  to {
    @include rotate(0deg);
  }
}

[class^=end] {
  @include animation(.15s linear 1);
}

// @for $i from 1 through 360 {
//   $key: 360 - $i;

//   @include keyframes(end-#{$key}) {
//     from {
//       @include rotate(#{$key}deg);
//     }
//     to {
//       @include rotate(0deg);
//     }
//   }

//   .end-#{$key} {
//     @include animation-name(end-#{$key});
//   }
// }